@model IEnumerable<WebRole1.Models.Korisnik>

@{
    ViewBag.Title = "Registrations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registrations</h2>
<br />
@using (Html.BeginForm("Registrations", "Home", FormMethod.Get))
{
    <p>
        @Html.DropDownList("filter", "sve")
        <input type="submit" value="Filter" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrTokena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uloga)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrTokena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uloga)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Korisniks", new { id = item.IdKor }, null) 
            </td>
        </tr>
    }

</table>
