@model IEnumerable<WebRole1.Models.Klon>

@{
    ViewBag.Title = "PublishedQuestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Published Questions</h2>

@*@Html.ActionLink("Back to previous page", "PublishList", new { id=ViewBag.IdKan})*@
<br /> <br />

<table class="table">
    <tr>
       <th>
            @Html.DisplayNameFor(model => model.IdPit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naslov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VrPravljenja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VrPoslZaklj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zakljucano)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
           <td>
                @Html.DisplayFor(modelItem => item.IdPit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naslov)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.VrPravljenja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrPoslZaklj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zakljucano)
            </td>
            @*<td>
                @if (item.Zakljucano == true)
                {
                    @Html.ActionLink("Unlock", "Edit", new { id = item.IdPit })
                }
                else
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdPit })
                }
                | @Html.ActionLink("Details", "Details", new { id = item.IdPit })
            </td>*@
            <td>
                @Html.ActionLink("Answers", "Answers", new { IdKlo = item.IdKlo })
            </td>
        </tr>
    }

</table>
