@model WebRole1.Models.Pitanje

@{
    ViewBag.Title = "UnlockQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Question is locked!</h2>

<h3>Do you want to unlock it for <b>@ViewBag.M</b> tokens?</h3>
<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Kanal.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kanal.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Korisnik.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Korisnik.Ime)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Naslov)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naslov)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tekst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tekst)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Slika)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Slika)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.VrPravljenja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VrPravljenja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VrPoslZaklj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VrPoslZaklj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zakljucano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zakljucano)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Unlock" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
